<div class="container page">
    <h2>Контакты</h2>
{{# each contacts}}
    <div class="row contacts">
        <dl>
            <dt>
                <span class="icon icon-marker"></span>
            </dt>
            <dd>............ {{ location }}</dd>
            <dt>
                <span class="icon icon-mail"></span>
            </dt>
            <dd>............... <a href="mailto:{{ email }}" target="_blank">{{ email }}</a></dd>
            <dt>
                <span class="icon icon-phone"></span>
            </dt>
            <dd class="phone">............................... {{ phone }}</dd>
            <dt>
                <span class="icon icon-whatsApp"></span>
            </dt>
            <dd class="phone">.......... {{ whatsApp }}</dd>
            <dt>
                <span class="icon icon-viber"></span>
            </dt>
            <dd class="phone">....................... {{ viber }}</dd>
        </dl>
    </div>
{{/each}}
</div>
